{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! Everything inside the #author tags pulls data from the author }}
{{#author}}
    <header class="main-header js-blog-bg-image {{#if cover}}" style="background-image: url({{cover}}){{else}}no-cover{{/if}}">
        <div class="main-header-content">
            {{#if image}}
                <div class="author-logo-container">
                    <img src="{{image}}" alt="{{name}}">
                </div>
            {{/if}}
            <div class="author-meta">
                <h1 class="author-title js-bg-check">
                    {{name}}
                </h1>
                {{#if location}}
                    <div class="author-row">
                        <p class="author-location">
                            <img src="{{asset "images/icons/icon-location.svg" }}"
                                 alt="Author Location"
                                 class="author-icon" />
                            {{location}} 
                        </p>
                        <p class="author-stats">
                            <img src="{{asset "images/icons/icon-article.svg" }}"
                                 alt="Author Stats"
                                 class="author-icon" />
                            {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}} 
                        </p>
                    </div>
                {{/if}}
                {{#if bio}}
                    <p class="author-bio js-bg-check">
                        {{bio}}
                    </p>
                {{/if}}
                <div class="author-media-btns">
                    {{#if twitter}}
                        <a href="{{twitter_url}}"
                           target="_blank"
                           class="btn-social-media">
                          <img src="{{asset "images/icons/icon-twitter.svg" }}"
                               alt="Twitter Profile" />
                        </a> 
                    {{/if}}
                    {{#if facebook}}
                        <a href="{{facebook_url}}"
                           target="_blank"
                           class="btn-social-media">
                          <img src="{{asset "images/icons/icon-facebook.svg" }}"
                               alt="Facebook Profile" />
                        </a> 
                    {{/if}}
                </div>
            </div>
        </div>
    </header>
{{/author}}

<main class="content author-template" role="main">
    {{> "tag-header" name="posts by author" url='' iconPath="images/icons/icon-article.svg"}}
    {{#foreach posts}}
      {{> "post-preview" tag="author"}}
    {{/foreach}}  
</main>