{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header class="post-meta row">

    <h1 class="post-title">{{title}}</h1>

    <div class="post-author-date">
        <span class="post-author-name">{{author}}</span> -
        <time class="post-date"
              datetime="{{date format='YYYY-MM-DD'}}">
          {{date format="MMM DD, YYYY"}}
        </time>
    </div>

    <div class="post-tags">
        {{tags separator=""}}
    </div>

    <section class="social-media-btns">
      <a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
         onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"
         class="btn-social-media">
        <img src="{{asset "images/icons/icon-twitter-alternate.svg" }}"
             alt="Impressiv Twitter" />
      </a>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
         onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"
         class="btn-social-media">
        <img src="{{asset "images/icons/icon-facebook-alternate.svg" }}"
             alt="Impressiv Facebook" />
      </a>
    </section>

</header>

<main class="post-view-content" role="main">

  <article class="post-view-header {{#if image}}" style="background: url({{image}}); background-size: cover; {{else}}no-cover{{/if}}">
  </article>
    <article class="{{post_class}}">

      <!-- sidebar unit, place in right sidebar -->
      <div class="OUTBRAIN OUTBRAIN-CONTENT-SIDEBAR" data-widget-id="TS_1" data-src="" data-ob-template="Buzznation" ></div>

        <section class="post-content row">
            <div class="small-12 columns">{{content}}</div>
        </section>

        <!-- below content unit, place below content -->
        <div class="OUTBRAIN OUTBRAIN-CONTENT-POST" data-widget-id="TF_6" data-src="" data-ob-template="Buzznation" ></div>
        <div class="row post-prev-next-pagination">
            <div class="prev small-6 columns text-left">
                {{#prev_post}}
                    <div class="prev-next-label">
                        <a href="{{url}}">
                            <i class="fa fa-angle-double-left"></i> Previous
                        </a>
                    </div>
                    </a>
                {{/prev_post}}
            </div>
            <div class="next small-6 columns text-right">
                {{#next_post}}
                    <div class="prev-next-label">
                        <a href="{{url}}">
                            Next <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                {{/next_post}}
            </div>
        </div>

        {{! Everything inside the #author tags pulls data from the author }}
        <!-- {{#author}}
            <section class="author-info">
                <div class="row">
                    <section class="post-author small-12 columns">
                        {{#if image}}
                            <img src="{{image}}" class="post-author-avatar" alt="{{name}}">
                        {{/if}}
                        {{#if name}}
                            <span class="author-label">Author</span>
                            <h1><a href="{{url}}" class="author-link-name">{{name}}</a></h1>
                        {{/if}}
                        {{#if website}}
                            <p><a href="{{website}}" class="author-website">{{website}}</a></p>
                        {{/if}}
                        {{#if bio}}
                            <p>{{bio}}</p>
                        {{/if}}
                    </section>
                </div>
            </section>
        {{/author}} -->

        {{!
        <section class="disqus">
            {{> disqus}}
        </section>
        }}

    </article>

</main>

{{/post}}
